/* General reset */
* {
    margin: 0;
    padding: 0;
    font-family: "Merienda";
    text-transform: capitalize;
    
}

/* Navbar styling */
.navbar {
    width: 100dvi;
    height: auto;
    display: flex;
    /* justify-content: space-evenly; */
    background-color: rgb(155, 33, 231);
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    padding: 10px 20px;
    /* align-items: center; Ensures proper vertical alignment */
}



/* Logo styling */
.logo {
    width: 300px;
    height: auto;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    text-shadow: 1px 1px 2px black, 
    0 0 1em rgb(209, 237, 67),
    0 0 0.2em rgb(255, 247, 0);
}

.navigation-bar{

    display: flex;
    height: 57px;
    margin-top: 15px;
    border-radius: 7px 7px 7px 7px;
    /* background-color:  rgb(155, 33, 231); */
    /* background-color: #fff; */
}



.navigation-bar ul{

        font-size: 1rem;
        margin-top: 15px;
        
      
        /* text-transform:capitalize; */
}

.navigation-bar li{

display: inline;

}


.navigation-bar a{

color: #fff;
padding: 14px;
text-align: center;
text-decoration: none;

}


.user i{
    color: #fff;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 57px;
    font-size: 1.3rem;
    margin-top: 15px;
    border-radius: 6px;
    margin-left: 1000px;
    /* background-color: rgb(189, 181, 194); */
}

.information-bar{

    height:25px;
    /* width: 100%; */
    color: #fff;
    background-color: rgb(46, 7, 71);
}

.uerbox{

    display: flex;
    margin-top: 8%;
    position: relative;
    width: 100%;
    height: auto;
    /* background-color: aqua; */
}

.uer-header{

    display: flex;
    position: relative;
    margin-left: 10%;
    width: 80%;
    height: auto;
    background-color: rgb(155, 33, 231);    
}

.uer-header img{

        width: 300px;         /* Diameter of the circle */
        height: 300px; 
        padding: 40px; 
        margin-left: 50px;      /* Diameter of the circle */
        /* background-color: #3498db; Circle color */
        border-radius: 50%;  /* Makes it a circle */

}

.uer-header h1{

    display: flex;
    width: 80%;
    height: auto;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    /* background-color: #fff; */
    justify-content: center;
    align-items: center;
    position: relative;
    text-shadow: 1px 1px 2px black, 
    0 0 1em rgb(209, 237, 67),
    0 0 0.2em rgb(255, 247, 0);
}


.user-information{

    display: flex;
    position: relative;
    margin-left: 10%;
    width: 80%;
    height: auto;
    background-color: rgb(184, 151, 204);
}