*{
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: "Merienda";
    text-transform: capitalize;

}

.nav-box{
                width: 100dvi;
                height: auto;
                display: flex;
                justify-content: space-evenly;
                background-color: rgb(155, 33, 231);
}

.logo{

        width: 300px;
        height: auto;
        text-align: center;
        font-size: 2.5rem;
        margin-top: 10px;
        font-weight: 700;
        color: #fff;
        text-shadow: 1px 1px 2px black,
        0 0 1em rgb(209, 237, 67),
        0 0 0.2em rgb(255, 247, 0);;
        
}
.nav-bar{

                display: flex;
                height: 57px;
                margin-top: 15px;
                border-radius: 7px 7px 7px 7px;
                background-color:  rgb(155, 33, 231);
}



.nav-bar ul{

                    font-size: 1rem;
                    margin-top: 15px;
                    /* text-transform:capitalize; */
}

.nav-bar li{

        display: inline;
}


.nav-bar a{
            
            color: #fff;
            padding: 14px;
            text-align: center;
            text-decoration: none;
            
}

.nav-language{

                width: 100px;
                height: 57px;
                outline: none;
                margin-top: 15px;
                margin-left: 20px;
                border-radius: 4px;
                border: 2px solid transparent;
                background-color:  rgb(155, 33, 231);
}

.nav-language option{
                
                color: #fff;
                font-size: 1rem;
                text-align: center;
                
}

.user i{
                color: #fff;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                height: 57px;
                font-size: 1.3rem;
                margin-top: 15px;
                border-radius: 6px;
                /* background-color: rgb(189, 181, 194); */
}

.information-bar{

        height:25px;
        color: #fff;
        background-color: rgb(46, 7, 71);
}


.text-box{

    width: 100%;
    display: flex;
    height: 10vh;
    background-color: aqua;
}

.text-box h1{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10%;
    color: #fff;
    font-family: 'Open Sans';
    z-index: 999;
}

.text-box img {
    width: 100%;
    height: auto;
    position: absolute;
    background-size: cover; /* Optional */
    background-position: center;
   
}


.title-box{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-left: 25px;
    margin-top: 3px; */
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    border: 2px solid transparent;
    background-color:  rgb(155, 33, 231);
}

.title-box .title{

    width: 70%;
    height: 67px;
    margin-top: -50%;
    display: flex;
    border-radius: 4px;
    justify-content: space-evenly;
    /* background-color: #d81a1a; */

}

.class-select, 
.subject-select, 
.Chapert-select {
        width: 25%;
        height: 65%;
        display: flex;
        outline: none;
        border-radius: 2px;
        border: none;
        margin-top: 10px;
        background-color: #fff;
        
    }

.class-select option,
.subject-select option,
.Chapert-select option {
    background-color: rgb(212, 224, 224); /* Background color */
    margin: 20px;
    color: black; /* Text color */
}


#languageSelectContainer{

        outline: none;
        border: none;
        border-radius: 4px;
}

.fa-magnifying-glass{

    width: 70px;
    height: 65%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    text-shadow: 1.5px 1.5px 2.5px black,
    0 0 1em rgb(209, 237, 67),
    0 0 0.2em rgb(255, 247, 0);;
    margin-top: 10px;
}

.text-seen {
    width: 80%;
    height: 80vh;
    display: none; /* Ensure flexbox for centering */
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 25px;
    top: 60%;
    left: 50%;
    font-weight: 600;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    border: 2px solid transparent;
    background-color: #f8f2f2;
    overflow: hidden;
}

#pdfViewer {
    width: 100%; /* Fill the width of the parent container */
    height: 100%; /* Fill the height of the parent container */
    border: none; /* Remove default border for the iframe */
}

.text-seen.active {
    display: block;
}

.error-message {
    color: rgb(240, 247, 248);
    font-size: 24px;
    margin-top: 10px;
    display: none; /* Initially hidden */
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -70%);

}


.footer-box{
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5%;
    left: 60%;
    transform: translate(-80%, -50%);
    
    /* background-color: #1031ec; */
}

.footer-box button{

    width: 100%;
    height: 100%;
    border: none;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px 2px black, 
    0 0 1em rgb(209, 237, 67), 
    0 0 0.2em rgb(255, 247, 0);
    font-size: 24px;
    border-radius: 4px;
    background-color: rgb(155, 223, 28);
    
}

.footer-box button:hover{

    color: #fff;
    background-color: rgb(21, 214, 205);
}





















































